<!-- File Name:    bodyAbout.ejs
  -  Student Name: Julio Reyes
  -  Student Id:   301308609
  -  Date:         October 7th, 2023 
  -->
<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>
  
  <!--Adding Nav-->
  <%- include('nav')%>

  <main>
    <h2 class="text_page_title"><%= title %></h2>
    <div class="profileImage"><img src="/images/profile_photo.png" alt="" align="center"></div>
    <h2 class="text_page_profile"><%= name %> </h2>
    <p>Software engineer with experience in the IT development field focusing on banking areas that let me work on the most impactful
       and fast-moving projects with SAP ERP in their different modules (HR, FI, Payroll, CRM, BAS, SOLMAN, Success Factors, S/4 HANA)
       helping organizations to achieve their goals at the same time I challenge me through different technologies. 
       Always being a problem solver and collaborative candidate, able to learn quickly, adapt to new changes, 
       and train other employees to succeed as well while working with AGILE methodologies.
    </p>
    <a href="https://drive.google.com/file/d/12p0WSDp75fQ854rn7FD-w-2LXN3LGFLn/view?usp=drive_link">Clic here to view Resume</a>
  </main>
</div>