<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </nav>
  <main>
    <h2 class="text_page_title">Services</h2>
    <p>As a result of 15 years on the market offering innovating solutions to the private banking and health sector, our list of partneship, and technologies is huge as our experience.
      <p>

    <div id="gallery">
      <div class="figure"><img src="/images/webDevelopment.jpg" width="200"
            height="150"><br>
            <div>&nbsp;</div>
            <h2> Web Development</h2>
          </a>
      </div>
      <div class="figure"><img src="/images/mobileApp.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2> Mobile App Development</h2>
        </a>
      </div>
      <div class="figure"><img src="/images/softwareDevelopment.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Software Development</h2>
        </a>
      </div>
    </div>
    <div id="gallery">
      <div class="figure"><img src="/images/testing.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Testing and QA<h2>
        </a>
      </div>
      <div class="figure"><img src="/images/uxDesign.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2> UI/UX Design</h2>
        </a>
      </div>
      <div class="figure"><img src="/images/dataAnalytics.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Data Analytics</h2>
        </a>
      </div>
    </div>
    <div id="gallery">
      <div class="figure"><img src="/images/cibersecurity.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Cibersecurity</h2>
        </a>
      </div>
      <div class="figure"><img src="/images/cloudServices.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2> Cloud Services</h2>
        </a>
      </div>
      <div class="figure"><img src="/images/digitalTransformation.jpg" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Digital Transformation</h2>
        </a>
      </div>
    </div>
  </main>
</div>