<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>
 
  <!--Adding Nav-->
  <%- include('nav')%>
 
  <main>
    <h2 class="text_page_title"><%= title %></h2>
    <h2><%= welcome %></h2>
    <p>We invite you to navigate through all especialized services we offer. Not matter how big or small is your
      company, we can help you to achieve
      your goals. We can partnership with big IT companies such as IBM, ORACLE, SAP, GOOGLE. We believe on the
      innovation and transformation. If you don't
      find a service that satisfy your necessities, you can contact us using <a href="/contact">CONTACT ME</a> page and an
      expert will contact you ASAP.
    </p>
    <p>
      We adapt our innovations to create new standards of excellence in services in North America and Europa.
    </p>

    <h2><%= mission %></h2>
    <p><span class="Mission">"Our mission is to help our clients make distinctive, lasting, and substantial
        improvements in their performance and to build a great firm that attracts, develops, excites, and retains
        exceptional people."
    </p>
    <ul>
      <li>Incorporating advanced technology in its processes to better serve the industry and the public.</li>
      <li>Improving the accessibility to information .</li>
      <li>Partneship with Big IT Companies to provide the best solutions.</li>
      <li>Provide solutions on the cloud and AI.</li>
      <li>Providing leadership in automation of services.</li>
    </ul>
  </main>
</div>