<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </nav>
  <main>
    <h2 class="text_page_title">Projects</h2>
    <p>As a consulting firm, we had collaborated on top projects around the world. Specifically on Web development using Express, C# and Oracle SQL.
      All of those considered as robust platforms to perfom with huge amount of data.
    </p>

    <div id="gallery">
      <div class="figure"><a href="/images/Project1.png"><img src="/images/Project1.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Movie Poster</h2>
          <h5>Javascript / JSON files</h5>
          <p>As a software developer, I worked gathering the bussines requierements, and designing the UI to dynamically order the movies applying different filters.</p>
        </a>
      </div>
      <div class="figure"><a href="/images/Project2.png"><img src="/images/Project2.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2> Pizza Orders</h2>
          <h5>C#</h5>
          <p>As a software developer, I collaborated designing the UI, and programming the application to print a receipt when order is taken.</p>
        </a>
      </div>
      <div class="figure"><a href="/images/Project3.png"><img src="/images/Project3.png" width="200"
            height="150"><br>
          <div>&nbsp;</div>
          <h2>Dynamic Game</h2>
          <h5>Javascript</h5>
          <p>As a software developer, I worked defining the events, and building the game using arrays to store the DB of possible words to guess..</p>
        </a>
      </div>
    </div>

  </main>
</div>