<div id="wrapper">
  <div id="banner">
    <div id="banner_text"></div>
  </div>
  <header></header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/contact">Contact Me</a></li>
    </ul>
  </nav>
  <main>
    <h2 class="text_page_title">Contact me</h2>
    <p>If you want to hear from me, please fill the form below with your contact information.</p>

    <form method="post" action="mailto:c.34@hotmail.es?subject=IT Consulting firm - Contact" enctype="text/plain">
      <fieldset>
        <legend>Contact Information</legend>
        <label class="top" for="First_Name">First Name</label>
        <input class="top" type="text" id="First_Name" name="First_Name" size="35" required="required"
          placeholder="Type your First Name here">

        <label class="top" for="Last_Name">Last Name</label>
        <input class="top" type="text" id="Last_Name" name="Last_Name" size="35" required="required"
          placeholder="Type your Last Name here">

        <label class="top" for="Phone">Phone</label>
        <input class="top" type="tel" id="Phone" name="Phone" size="35" required="required"
          placeholder="Type your phone here">

        <label class="top" for="Email">E-mail</label>
        <input class="top" type="email" id="Email" name="Email" size="35" required="required"
          placeholder="Type your E-mail here">

        <label for="maxPriceSelected">Comments:</label><!--rows="5" cols="70"-->
        <textarea class="other" id="Additional_Comments" name="Additional_Comments" required="required"
          placeholder="Type your additional comments here"></textarea>
      </fieldset>
      <br>

      <div>
        <button type="reset" value="Reset">Reset</button>
        <button type="submit" type="Submit" value="Submit">Submit</button>
      </div>
    </form>
    <br>
    <p>As well, if you require especilized IT consulting services for your company, you can reach me on bussines hours
      Mon-Fri 9:00am - 6:00pm using the contact information below.
    </p>
    <ul>
      <li><b>Phone:</b> +(1) 437 288 7188</li>
      <li><b>Email:</b> julio_cesar.rv@hotmail.com</li>
    </ul>
    <!--Footer here-->
  </main>
</div>