<!--<meta charset="UTF-8">
<title>
  <%= title %>
</title>

--adding icon--
<link rel = "icon" href =  
"/images/logo-ico.ico" 
        type = "image/x-icon"> 
-->
<!-- CSS (load bootstrap from a CDN)-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="/stylesheets/style.css">
<img src="/images/banner_1.png" alt="Official Logo" height="200" width="800">
-->
<title>Real State - Contact</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/homeIco.ico" type="image/x-icon">
    <meta name="description" content="real State, home sells, mortgage, buy Home">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css">