<!--<meta charset="UTF-8">
-- CSS (load bootstrap from a CDN)
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" href="/stylesheets/style.css">
<img src="/images/banner_1.png" alt="Official Logo" height="200" width="800">
-->
<!-- File Name:    head.ejs
  -  Student Name: Julio Reyes
  -  Student Id:   301308609
  -  Date:         October 7th, 2023 
  -->

  <!--Title Page-->
  
<title>
  <%= title %>
</title>

<meta charset="utf-8">
<meta name="description" content="IT consulting, JC King, Web, IT Solutions">

<!--Boostrap Error Page design taken from external resources ONLY this part-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<!--Responsive Web Page-->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--CSS style-->
<link rel="stylesheet" href="/stylesheets/style.css">

<!--adding icon-->
<link rel="icon" href="/images/logo-ico.ico" type="image/x-icon">

<!--adding javascript file-->
<script src="/javascript/script.js"></script>