/*   File Name:    style.css
  -  Student Name: Julio Reyes
  -  Student Id:   301308609
  -  Date:         October 7th, 2023 
*/
* {
    box-sizing: border-box;
}

Header,
main,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

/*Header*/
#banner {
    height: 380px;
    background-image: url(/images/banner_2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner_text h3 {
    position: absolute;
    top: 20px;
    left: 655px;
    font-family: sans-serif;
    font-size: 40px;
    color: rgba(192, 204, 207, 0.871)
}

body {
    background-color: #5a7e930e;
    color: #031c29;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #000000;
    min-width: 960px;
    max-width: 204px;
    box-shadow: 3px 3px #333333;
    border: 1px solid #000033;
    background-image: linear-gradient(to bottom, black, rgba(255, 254, 254, 0.214));
    background-repeat: no-repeat;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
    background-color: rgb(245, 249, 250);
    /*Color background main area*/
    margin-left: 190px;
}

/*Navigation Bar settings*/
nav {
    float: left;
    width: 190px;
    /*Width Nav Buttons*/
    padding-left: 0em;
    padding-right: 0em;
    font-weight: bold;
    font-size: 120%;
}

nav a {
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 15px;
    display: block;
    background-color: #05344b02;
    color: white;
}

nav a:hover {
    transition: ease-out 2s color;
}

/**/
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}

/*Delete dot besides UL List*/
nav a:link {
    color: white;
}

/* Text Menu Color */
nav a:visited {
    color: white
}

/* Text Menu Color */
nav a:hover {
    color: #0d2044d3;
    background-color: #EAEAEA;
}

/*Contact_Buttons*/
.contact_buttons {
    text-align: center;
}

/*Fieldset*/
fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.23);
    padding: auto;
}

/*Legend*/
legend {
    background: rgba(152, 164, 174, 0.182);
    border: solid 1px rgba(0, 0, 0, 0.26);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #312f2fb4;
}

/* Page Title*/
.text_page_profile {
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.text_page_title {
    font-size: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*
.Price_title {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.Address_title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Bed_and_bath {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
*/
/*Projects and Services setting text*/
.figure a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.figure a h5 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.figure h2 {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Footer*/
#footer {
    font-size: 75%;
    text-align: center;
    background-color: rgb(245, 249, 250);
    /*Background color footer Section*/
    padding: 20px;
}

/*General Settings*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3em;
    letter-spacing: 0.25em;
}

h2 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000033;
}

p,
dd {
    text-align: justify;
    text-justify: inter-word;
}

.Mission {
    font-size: medium;
    color: #5C7FA3;
    font-weight: bold;
}

footer p small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.profileImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.profileImage img {
    padding-top: 30px;
    width: 250px;
    height: 330px;
    border-radius: 50%;
}

/*Contact setting for text*/
#contact {
    font-size: 90%;
}

/*Setting for form CONTACT PAGE elements*/
label {
    float: left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 1em;
}

input,
textarea {
    display: block;
    margin-bottom: 20px;
}

textarea {
    height: 7em;
    width: 20em;
}

input[type="submit"] {
    margin-left: 130px;
}

.button {
    background-color: #505e92;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-decoration-color: whitesmoke;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Setting mobile and Desktop */
#mobile {
    display: none;
}

#desktop {
    display: inline;
}

/*Gallery Projects*/
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: auto;
    grid-gap: 2em;
    gap: 2em;
}

.figure {
    float: right;
    width: 220px;
    margin: 15px;
    background-color: #FFF;
    text-align: center;
    font-size: .8em;
    padding: 5px;
    border: 1px solid #CCC;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: 5px 5px 5px #828282;
    -moz-box-shadow: 5px 5px 5px #828282;
    box-shadow: 5px 5px 5px #828282;
}

.figure:hover {
    background-color: #ccc;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-transition: -webkit-transform .5s linear, background-color 1s ease-in;
    -moz-transition: -moz-transform .5s linear, background-color 1s ease-in;
    -o-transition: -o-transform .5s linear, background-color 1s ease-in;
    transition: transform .5s linear, background-color 1s ease-in;
}

/*-----------------Tab Functionality CONTACT PAGE FORM-------------------*/

#PhoneTab {
    background-color: rgba(175, 186, 186, 0.24);
}

#EmailTab {
    background-color: rgba(175, 186, 186, 0.24);
}

#LinkedinTab {
    background-color: rgba(175, 186, 186, 0.24);
}

/* Style tab links */
.tablink {
    background-color: rgba(85, 85, 85, 0.871);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

.tablink:hover {
    background-color: rgba(119, 119, 119, 0.479);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: rgba(19, 1, 1, 0.899);
    display: none;
    padding: 60px 20px;
    height: 100%;
}

dl dt {
    padding-top: 10px;
    text-align: center;
}

dl dd {
    padding-bottom: 10px;
}
/*-----------------Tab Functionality-------------------*/


/*-------------------Special Adjustment DEVICES------------------------*/
@media (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFFFFF;
    }

    #wrapper {
        width: auto;
        box-shadow: none;
        border: none;
    }

    #gallery {
        display: flexbox;
    }

    header {
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
        height: auto;
    }

    h1 {
        letter-spacing: 0.1em;
    }

    main {
        margin-left: 0;
    }

    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 00.5em;
    }

    nav li {
        display: inline;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    #banner_text {
        background-image: none;
        height: 0;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}

@media (max-width: 37.5em) {
    #gallery {
        display: flexbox;
    }

    #wrapper {
        min-width: fit-content;
        width: fit-content;
        box-shadow: none;
        border: none;
    }

    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
        width: fit-content;
    }

    h1 {
        font-size: 2em;
    }

    nav {
        padding: 0;
    }

    nav li {
        display: block;
        margin: 0;
        border: 2px solid #330000;
    }

    nav a {
        display: block
    }

    textarea {
        height: 7em;
        width: 20em;
    }

    #banner_text {
        background-image: none;
        height: 0;
    }

    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }


    label {
        float: none;
        text-align: left;
    }

    input [ type=”submit”] {
        margin-left: 0;
    }

}