<!-- File Name:    About.ejs
  -  Student Name: Julio Reyes
  -  Student Id:   301308609
  -  Date:         October 7th, 2023 
  -->
<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/header')%>
</head>

<body>
  <%- include('partials/bodyAbout')%>
</body>
<footer>
  <%- include('partials/footer')%>
</footer>

</html>