<!-- File Name:    Home.ejs
  -  Student Name: Julio Reyes
  -  Student Id:   301308609
  -  Date:         October 7th, 2023 
  -->
  <!DOCTYPE html>
  <html lang="es">
  
  <header>
    <%- include('partials/header')%>
  </header>
  
  <body>
    <%- include('partials/bodyHome')%>
  </body>
  <footer>
    <%- include('partials/footer')%>
  </footer>
  
  </html>